.menu1 {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:rgba(0, 0, 0, 0.61);margin: 10px; border-radius: 10px;border-style:solid;border-color:rgba(255, 255, 255, 0.637);}
.menu {list-style: none;display: inline-block;text-align: right;padding-left: 0;margin-top: 10px;}
.menu1:hover {border-color:blue}
.menu a {text-decoration:none; font-size: 15px;color: cornsilk;}
.menu a:hover {color:white;}
.contenedor {position:relative;}
.caja1 {display: inline-block;width:40%;}
.caja2 {display: inline-block;width:60%;position:absolute;margin-top: 0px;flex-wrap: wrap;}
s
.item-header {list-style: none;}